#service description for systemd

[Unit]
Description=Pir Screen
After=network.target

[Service]
User=pi
WorkingDirectory=/home/pi/pirscreen 
ExecStart=python3 pirscreen.py
Restart=always

[Install]
WantedBy=multi-user.target
