[Unit]
Description=Pir Screen
After=network.target

[Service]
User=sentinel
WorkingDirectory=/home/sentinel/pirscreen 
ExecStart=python3 pirscreen.py
Restart=always

[Install]
WantedBy=multi-user.target
